@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Transparent background scrollbar */
.playlist-scroll::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
}

body::-webkit-scrollbar {
  width: 8px; /* width of scrollbar */
}

.playlist-scroll::-webkit-scrollbar-track {
  background: gray; /* transparent track */
}

body::-webkit-scrollbar-track {
  background: rgb(63, 63, 63); /* transparent track */
}

.playlist-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* thumb color */
  border-radius: 10px; /* rounded corners */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* thumb color */
  border-radius: 10px; /* rounded corners */
}

.playlist-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8); /* hover color */
}

/* Firefox scrollbar */
.playlist-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.5) transparent;
}
